@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro-Light.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GothamPro-Bold.ttf") format("truetype");
    font-weight: 800;
}

body {
    background-color: #DEDEDE;
    font-family: "Gotham Pro";

}

body * {
    box-sizing: border-box;
}

.mobile-icon-header {
    display: none;
}

.mobile-header-wrapper img {
    display: none;
}

.mobile-header-wrapper {
    text-align: center;
    width: 100%;
}

.calendar-task__mobile-arrow {
    display: none;
    transform: rotate(-90deg);
    width: 10px;
    height: 5px;
}

.common-circle {
    background-color: #F1F3FB;
    border-radius: 50%;
    width: 115px;
    height: 115px;
    margin: 0 auto;
}

.common-title {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #324066;
}

.common-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    color: #324066;
    margin-top: 15px;
}

.page-wrapper-modal {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(82, 90, 120, 0.2);
}

.modal__complete-image {
    display: block;
    margin: 0 auto;
}

.modal__close-modal {
    position: absolute;
    right: 20px;
    top: 20px;
}

.modal__button-not-ready {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #ED80A4;
    background-color: inherit;
    border: 0;
    margin-bottom: 25px;
    margin-top: 50px;
}

.modal__text {
    font-weight: 500;
    font-size: 16px;
    color: #324066;
}

.modal__title {
    margin-top: 30px;
}

.modal__status {
    margin-top: 25px;
}

.modal__button-ready {
    background: linear-gradient(147.66deg, #FF8CB3 17.89%, #DB638B 95.61%);
    box-shadow: 0 25px 20px rgba(211, 107, 143, 0.2);
    border-radius: 100px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    padding: 12px 65px;
}

.modal {
    box-shadow: 0 4px 8px rgba(40, 47, 112, 0.04);
    border-radius: 14px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
}

.full-width {
    width: 100%;
}

.main-container {
    position: relative;
    max-width: 970px;
    margin: auto;
    width: 100%;
}

.back-button {
    border: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    background: linear-gradient(147.66deg, #FF8CB3 17.89%, #DB638B 95.61%);
    box-shadow: 0 25px 20px rgba(211, 107, 143, 0.2);
    border-radius: 100px;
}

.progress-container {
    width: 100%;
    /*background: url("../images/yoga-women.png");*/
    background: linear-gradient(242.83deg, #5C8FE1 -5.33%, #34558B 115.34%);

    box-shadow: 0 40px 30px rgba(40, 47, 112, 0.06);
    border-radius: 14px;
    height: 345px;
    box-sizing: border-box;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.progress-container .full-width {
    margin-bottom: 30px;
    padding: 0 60px;
    box-sizing: border-box;
}

.mask-overlay {
    width: 100%;
    background: url("../images/test.png");
    opacity: 0.6;
    height: 100%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*box-sizing: border-box;*/
    /*padding: 40px 60px 30px;*/
    mix-blend-mode: overlay;
    position: absolute;
}

.progress-container select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
}

.progress-container__select {
    background-color: inherit;
    border: 0;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    background-position: center right;
    max-width: 395px;
    width: 100%;
    margin-top: 40px;
}

.progress-container__label {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.progress-container__line {
    height: 8px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
}

.progress-container__line span {
    width: 20%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 100px;
    display: block;
}

.calendar-task {
    text-align: center;
    margin-top: 40px;
}

.calendar-task__button {
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(40, 47, 112, 0.08);
    border-radius: 14px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #324066;
    border: 0;
    height: 40px;
    max-width: 145px;
    width: 100%;
    outline: none;
}

.calendar-task__button:not(:last-child) {
    margin-right: 15px;
}

.calendar-task__button--active {
    border: 1px solid #ED80A4;
}

.calendar-task__select-container {
    margin-top: 40px;
}

.calendar-task__complete {
    font-weight: 500;
    font-size: 16px;
    color: #324066;
    margin-bottom: 40px;
    margin-top: 15px;
}

.calendar-task__select-container select {
    border: 0;
    background-color: inherit;
    font-weight: 500;
    font-size: 24px;
    color: #324066;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-image: url("../images/red-arrow.png");
    background-repeat: no-repeat;
    background-position: center right;
    width: 100%;
    max-width: 335px;
}

.calendar-task__date {
    margin-bottom: 0;
    margin-top: 40px;
    font-weight: 500;
    font-size: 24px;
    color: #324066;
    text-align: center;
}

.calendar-task__motivation {
    margin-top: 10px;
    font-weight: normal;
    font-size: 16px;
    color: #324066;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 45px;
}

.card-item {
    width: 48%;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(40, 47, 112, 0.04);
    border-radius: 14px;
    padding: 15px 0 25px;
    margin-bottom: 15px;
    /*max-height: 435px;*/
    box-sizing: border-box;
}

.card-item__button {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(147.66deg, #FF8CB3 17.89%, #DB638B 95.61%);
    box-shadow: 0 25px 20px rgba(211, 107, 143, 0.2);
    border-radius: 100px;
    border: 0;
    padding: 10px 30px;
}

.card-item__water {
    background: linear-gradient(83.58deg, #4EBCFA 44.46%, #9DD9FC 107.05%);
    box-shadow: 0 25px 20px rgba(78, 188, 250, 0.35);
}

.card-item__water-wrapper {
    background-image: url("../images/blue-bg.png");
    background-size: calc(100% + 10px);
    background-position: top;
    padding-bottom: 40px;
    padding-top: 20px;
    background-repeat: no-repeat;
    margin-top: 70px;
}

.card-item__water-progress {
    background: rgba(50, 64, 102, 0.06);
    border-radius: 100px;
    width: 100%;
    height: 20px;
}

.card-item__water-progress span {
    background: #4EBCFA;
    border-radius: 100px;
    width: 50%;
    height: 100%;
    display: block;
}

.card-item__water-percent {
    font-weight: 300;
    font-size: 44px;
    text-align: center;
    color: #324066;
}

.card-item__progress-wrapper {
    width: 70%;
    margin: 60px auto 0;
    box-sizing: border-box;
}

.card-item__progress-information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-item__completed {
    font-weight: 500;
    font-size: 14px;
    color: #324066;
}

.card-item__need {
    font-weight: normal;
    font-size: 14px;
    color: #324066;
}

.card-item__button-content {
    text-align: center;
    padding: 40px 0 15px;
}

.card-item__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
    padding: 0 15px 0 25px;
}

.card-item__center-title {
    justify-content: center;
}

.card-item__title {
    font-weight: 500;
    font-size: 16px;
    color: #324066;
}

.card-item__complete {
    display: flex;
    align-items: center;
}

.card-item__complete p {
    margin-left: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #40C6A6;
}

.card-item__multimedia img {
    width: 100%;
    object-fit: cover;
}

.card-item__subtitle {
    font-weight: 500;
    font-size: 16px;
    color: #324066;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 250px;
    white-space: nowrap;
}

.card-item__time {
    font-weight: 500;
    font-size: 16px;
    color: #40C6A6;
}

.card-item__top-content {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.card-item__top-content p {
    margin: 0;
}

.card-item__content {
    padding: 0 25px;
}

.card-item__description {
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;
    color: #324066;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 35px;
}

.training__main-title {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #324066;
    margin-bottom: 40px;
}

.training__subtitle + .training__main-title {
    margin-bottom: 10px;
}

.training__subtitle {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #324066;
    margin-bottom: 25px;
}

.training__text-image {
    width: 100%;
}

.training__multimedia {
    width: 100%;
    height: 540px;
    border-radius: 14px 14px 0 0;
}

.training__content {
    background-color: #fff;
}

.training__top-content {
    padding: 0 70px 30px;
}

.training__title-time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 40px;
}

.training__title {
    font-weight: 500;
    font-size: 24px;
    color: #324066;
}

.training__time {
    font-weight: 500;
    font-size: 16px;
    color: #40C6A6;
}

.training__description {
    margin-top: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    color: #324066;
}

.training__bottom-content {
    padding: 40px 0;
    border-top: 1px solid #E8E9EF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.training__bottom-button {
    border-radius: 100px;
    font-weight: 500;
    font-size: 14px;
    height: 40px;
}

.training__button-change {
    background: #FFFFFF;
    border: 2px solid #BABDC8;
    box-sizing: border-box;
    border-radius: 100px;
    color: #324066;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.training__bottom-button:not(:last-child) {
    margin-right: 15px;
}

.training__bottom-button img {
    margin-right: 10px;
}

.training__button-done {
    padding: 0 25px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(147.66deg, #FF8CB3 17.89%, #DB638B 95.61%);
    box-shadow: 0 25px 20px rgba(211, 107, 143, 0.2);
    border: 0;
}

.training__button-complete {
    padding: 0 65px;
    border: 2px solid #40C6A6;
    text-align: center;
    color: #324066;
    background-color: #fff;
    display: flex;
    align-items: center;
}

/* day-plan*/
.day-play__button-complete {
    padding: 0 20px;
    margin: auto;
}

.calendar-task__button-day {
    background: linear-gradient(147.66deg, #FF8CB3 17.89%, #DB638B 95.61%);
    box-shadow: 0 25px 20px rgba(211, 107, 143, 0.2);
    border-radius: 50%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    width: 55px;
    height: 55px;
}

.calendar-task__button-day:not(:last-child) {
    margin-right: 20px;
}

.calendar-task__button-day--disabled {
    background: #E8E9EF;
    color: #324066;
    box-shadow: none;
}

/*week-plan */

.task-item {
    margin-bottom: 40px;
}

.task-item__day-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.task-item__day {
    font-weight: 500;
    font-size: 16px;
    color: #324066;
}

.task-item__date {
    font-weight: normal;
    font-size: 16px;
    color: #324066;
}

.task-item__icon-container {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(40, 47, 112, 0.04);
    border-radius: 14px;
    padding: 25px 0;
}

.task-item__icon {
    border-radius: 20px;
    width: 95px;
    height: 95px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0 5px;
    box-sizing: border-box;
    position: relative;
}

.task-item__additional-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    box-shadow: 0 5.22222px 5.22222px rgba(0, 0, 0, 0.1);
}

.task-item__icon-image {
    object-fit: contain;
}

.task-item__number {
    font-weight: 500;
    font-size: 19.5833px;
    text-align: center;
    color: #FFFFFF;
}

.task-item__icon p {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}

.task-item__icon:not(:last-child) {
    margin-right: 25px;
}

.task-item__prana-core {
    background: linear-gradient(219.29deg, #62CFF1 3.94%, #8493F1 117.56%);
    box-shadow: 0 10px 7px rgba(109, 190, 242, 0.36);
}

.task-item__yoga-core {
    background: linear-gradient(188.89deg, #84EFE9 -14.01%, #40C6A6 96.11%);
    box-shadow: 0 10px 7px rgba(64, 198, 166, 0.36);
}

.task-item__yoga {
    background: linear-gradient(218.66deg, #FF93EE 8.89%, #C35FE7 100%);
    box-shadow: 0 10px 7px rgba(195, 95, 231, 0.36);
}

.task-item__motivation {
    background: linear-gradient(196.49deg, #BEA8FC 11.42%, #896CDC 100%);
    box-shadow: 0 10px 7px rgba(152, 121, 240, 0.36);
}

.task-item__spa {
    background: linear-gradient(147.73deg, #FF8CB3 17.92%, #DB638B 95.72%);
    box-shadow: 0 10px 7px rgba(242, 126, 165, 0.36);
}

.task-item__cardio {
    background: linear-gradient(209.7deg, #F3D27C 7.16%, #E96451 110.12%);
    box-shadow: 0 10px 7px rgba(242, 154, 116, 0.36);
}

/*training*/
.training__tags {
    display: flex;
}

.training__intense {
    background: #40C6A6;
}

.training__core {
    background: #8987EB;
}

.training__tag {
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}

.training__tag:not(:last-child) {
    margin-right: 10px;
}

/*meditation*/
.meditation-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.mediation-item {
    width: 31%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(40, 47, 112, 0.04);
    border-radius: 14px;
    padding: 70px 0 60px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.meditation__playlist-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.meditation__list, .meditation__player-wrapper {
    width: 49%;
    box-sizing: border-box;
    filter: drop-shadow(0px 14px 14px rgba(39, 66, 143, 0.3));
    border-radius: 14px;
    background-repeat: no-repeat;
    background-size: cover;
}

.meditation__list {
    padding: 155px 25px 50px;
    background-image: url("../images/meditaion-list.png");
}

.meditation__player-wrapper {
    background-image: url("../images/meditaion-player.png");
    padding: 30px 25px 40px;
}

.meditation__title-playlist {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.meditation__list-icon {
    margin-left: auto;
}

.meditation__list-number {
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 50%;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    box-sizing: border-box;
}

.meditation__listened {
    background: linear-gradient(129.89deg, #8CEAC8 -8.9%, #4BCDCD 64.17%);
}

.meditation__list ul {
    padding-left: 0;
}

.meditation__play {
    background-color: inherit;
    border: 4px solid rgba(255, 255, 255, 0.16);
}

.meditation__title-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.meditation__player-title {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.meditation__player-time {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.meditation__player-desc {
    margin-top: 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    height: 145px;
    overflow-y: auto;
}

/* width */
.meditation__player-desc::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.meditation__player-desc::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100px;
}

/* Handle */
.meditation__player-desc::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100px;
}

.meditation__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    border-radius: 80px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
    height: 40px;
    padding: 12px 5px;
}

.meditation__done-button {
    background-color: inherit;
    border: 2px solid #FAFCFF;
    margin-top: 10px;
}

.meditation__done-button img {
    margin-right: 10px;
}

.meditation__play-icon-list {
    margin-left: 3px;
}

.meditation__button-start {
    background: rgba(255, 255, 255, 0.3);
    margin: 20px auto 10px;
}

.meditation__complete-button {
    background: linear-gradient(147.66deg, #FF8CB3 17.89%, #DB638B 95.61%);
}

.meditation__button-start img {
    margin-right: 8px;
}

.meditation__list li {
    display: flex;
    align-items: center;
    list-style-type: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 8px 0;
}

.meditation__player-panel {
    margin-top: 110px;
}

.meditation__line-wrapper {
    width: 70%;
    margin: auto;
}

.mediation__player-times {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.mediation__player-times p {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}

.meditation__player-line {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 4px;
    border-radius: 100px;
}

.meditation__skip-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    height: 54px;
    border-radius: 50%;
    width: 54px;
}

.meditation__play-icon-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.meditation__volume-line-wrapper {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 50px auto 0;
}

.meditation__volume-line {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    height: 4px;
    width: 100%;
    margin: 0 10px;
}

.meditation__player-panel-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    margin: 30px auto 0;
}

.meditation-track-title {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.meditation__list li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.16);
}

.meditation__instruction {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.meditation__desc {
    margin-top: 10px;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

.mediation-item__no-choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*new workouts styles*/
.workout-items-container {
    display: flex;
    justify-content: center;
}

.training-filter-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.training-filter-item img {
    margin-right: 10px;
}

.workouts-container-content {
    max-width: 970px;
    width: 100%;
    margin-top: 30px;
}

.workout-item {
    display: flex;
    max-height: 150px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(40, 47, 112, 0.04);
    border-radius: 14px;
    margin-bottom: 10px;
}

.workout-item-content {
    width: 100%;
    padding: 30px 25px 25px 30px;
    box-sizing: border-box;
}

.workout-item img {
    border-radius: 14px 0 0 14px;
    max-width: 270px;
}

.workout-item-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.training-filter-item-active {
    position: relative;
}

.training-filter-item-active:after {
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #40C6A6;
    content: '';
    border-radius: 50%;
    top: 5px;
    right: 5px;
}

.workout-item-media {
    position: relative;
}

.workout-item-favorite {
    position: absolute;
    max-width: none;
    left: 15px;
    top: 15px;
    z-index: 1;
}

.workout-item-delete {
    position: absolute;
    max-width: none;
    z-index: 1;
    bottom: 15px;
    right: 15px;
}

.filter-modal {
    z-index: 2;
}

.filter-modal .content {
    background: #FFFFFF;
    padding: 40px;
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50px;
    box-shadow: 0px 4px 8px rgba(40, 47, 112, 0.04);
    border-radius: 14px;
    transform: translateX(-50%);
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid #D4D6E2;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    box-sizing: border-box;
    margin-right: 20px;
    font-size: 16px;
    color: #324066;
}

.custom-checkbox:checked + label::before {
    background: url("../images/tick.svg") no-repeat center, linear-gradient(129.89deg, #8CEAC8 -8.9%, #4BCDCD 64.17%);
    border: 0;
}

.checkbox-container {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.title-modal {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #324066;
    margin: 0 0 40px 0;
}

.title-checkboxes {
    border-bottom: 1px solid #EFF0F6;
    padding-bottom: 12px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.title-checkboxes span {
    font-weight: 500;
    font-size: 16px;
    color: #324066;
}

.discard-button {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid #EFF0F6;
    margin-bottom: 20px;
}

.discard-button span {
    color: #ED80A4;
    font-size: 16px;
    font-weight: 500;
}

.filter-result {
    display: block;
    margin: auto;
}

.change-time-filter-title {
    font-size: 16px;
    color: #324066;
}

.change-time-filter-title span {
    font-weight: 500;
}

.filter-slider {
    margin-top: 40px;
    position: relative;
}

.slider-line {
    height: 4px;
    border-radius: 16px;
    background: rgba(56, 36, 88, 0.07);
}

.slide {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(147.73deg, #FF8CB3 17.92%, #DB638B 95.72%);
    box-shadow: 0px 8px 6px rgba(255, 140, 179, 0.36);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.second-slide {
    left: 100px;
}

.modal-question .training__bottom-content {
    border-top: 0;
    padding: 40px 0 0;
}

.modal-question .training__button-change, .training__button-done {
    padding: 0 60px;
}

.slide:before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.filled-line {
    background-color: #ED80A4;
    display: block;
    width: 100px;
    height: 4px;
}

.training-icons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.download-active {
    position: relative;
    background: linear-gradient(to right, #EBECF3 50%, #40C6A6 50%);
    width: 30px;
    border-radius: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-active div {
    background: #fff;
    width: 25px;
    height: 25px;
    position: relative;
    border-radius: 50%;
}

.download-active div:after {
    content: "";
    height: 7px;
    width: 7px;
    border-radius: 1px;
    background-color: #FF6767;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*end workout*/
@media screen and (max-width: 767px) {
    /*workout*/
    .filter-modal .content {
        padding: 15px;
        transform: translateX(0);
        left: 0;
        top: 0;
        width: 100%;
        border-radius: 0;
        height: 100%;
    }

    .filter-modal .modal__close-modal {
        display: block;
        left: 15px;
        top: 15px;
    }

    .training-filter-item-active:after {
        width: 9px;
        height: 9px;
        left: 12px;
    }

    .checkbox-container {
        padding-bottom: 20px;
        border-bottom: 1px solid #EFF0F6;
    }

    .custom-checkbox:checked + label::before {
        background: url("../images/green-tick.svg") no-repeat center;
    }

    .filter-modal .discard-button {
        position: absolute;
        padding: 0;
        right: 15px;
        top: 15px;
        border: 0;
    }

    .custom-checkbox + label::before {
        position: absolute;
        right: 0;
        border: 0;
    }

    .workout-item-top {
        margin-bottom: 0;
    }

    .workout-item .card-item__time {
        position: absolute;
        right: 15px;
    }

    .workout-item {
        max-height: none;
        flex-direction: column;
        border-radius: 0;
        position: relative;
        padding-top: 50px;
    }

    .workout-item .card-item__title {
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .workout-item-content {
        padding: 15px;
    }

    .workout-item .workout-item-favorite {
        width: 35px;
        height: 35px;
        left: auto;
        top: auto;
        right: 15px;
        bottom: 15px;

    }

    .workout-item .workout-item-delete {
        width: 35px;
        height: 35px;
        max-width: none;
    }

    .workout-item img {
        border-radius: 0;
        max-width: 100%;
        width: 100%;
    }

    .modal.modal-question {
        padding: 60px 15px 15px !important;
        width: 98%;
        left: 50%;
        top: 50%;
        height: auto;
        transform: translate(-50%, -50%);
        z-index: 1;
        border-radius: 10px;
    }

    .modal-question .training__bottom-content {
        box-shadow: none;
        flex-direction: row;
        justify-content: space-between;
    }

    .modal-question .training__bottom-button {
        width: 48%;
    }

    .change-training-wrapper .modal-question .common-title {
        display: block;
    }

    /*end*/
    body {
        background-color: #eceef5;
    }

    .header-wrapper {
        background: linear-gradient(242.83deg, #5C8FE1 -5.33%, #34558B 115.34%);
    }

    .calendar-task__mobile-complete-wrapper {
        display: flex;
        align-items: center;
    }

    .mobile-icon-header {
        display: block;
    }

    .calendar-task {
        margin-top: 0;
    }

    .mobile-header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .progress-container {
        height: auto;
        border-radius: 0;
        box-shadow: none;
        background: none;
        padding: 20px 15px 0;
    }

    .calendar-task__button-wrapper {
        padding: 0 15px;
    }

    .calendar-task__mobile-arrow {
        display: block;
    }

    .progress-container__line {
        margin: 20px 0;
        height: 4px;
    }

    .mask-overlay {
        display: none;
    }

    .progress-container .full-width {
        margin-bottom: 0;
        padding: 0;
    }

    .progress-container__label {
        display: none;
    }

    .progress-container__select {
        font-size: 16px;
        max-width: 250px;
        background-size: 10px;
        margin-top: 0;
    }

    .task-item {
        margin-bottom: 10px;
    }

    .task-item__day-date {
        padding: 15px;
    }

    .task-item__icon p {
        margin-top: 10px;
        font-size: 9px;
    }

    .task-item__additional-icon {
        width: 16px;
        height: 16px;
    }

    .task-item__icon-container {
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 15px 15px 0 15px;
        border-radius: 0;
        box-shadow: none;
    }

    .task-item__icon-image {
        width: 20px;
        margin: 20px auto 0;
    }

    .task-item__icon {
        border-radius: 16px;
        justify-content: flex-start;
        width: 72px;
        height: 72px;
        margin-bottom: 15px;
        padding: 0;
    }

    .task-item__icon:not(:last-child) {
        margin-right: 18px;
    }

    .calendar-task__button:not(:last-child) {
        margin-right: 0;
    }

    .calendar-task__button {
        background-color: inherit;
        box-shadow: none;
        height: auto;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
        text-transform: uppercase;
        width: 49%;
        margin: 0;
        padding: 0;
        max-width: none;
        border-radius: 0;
    }

    .calendar-task__button--active {
        border: 0;
        border-bottom: 2px solid #ED80A4;
        padding-bottom: 15px;
        color: #FFFFFF;
    }

    .calendar-task__wrapper {
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 0 4px 4px rgba(114, 126, 155, 0.1);
    }

    .calendar-task__select-container {
        margin-top: 0;
    }

    .calendar-task__complete {
        margin-right: 10px;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 14px;
    }

    .calendar-task__select-container select {
        font-size: 14px;
        background-image: none;
    }

    .calendar-task__date {
        margin-top: 25px;
        font-size: 16px;
    }

    .calendar-task__motivation {
        font-size: 14px;
    }

    .calendar-task__button-day {
        height: 40px;
        width: 40px;
        border-radius: 10px;
    }

    .calendar-task__button-day:not(:last-child) {
        margin-right: 8px;
    }

    .calendar-task__buttons-day-wrapper {
        box-shadow: 0 4px 4px rgba(114, 126, 155, 0.1), 0px -1px 0px #EBECF3;
        background: #FFFFFF;
        padding: 12px 0;
    }

    .card-container {
        margin-top: 25px;
    }

    .card-item__button {
        padding: 16px 30px;
        border-radius: 10px;
        width: 100%;
    }

    .day-play__button-complete {
        height: 48px;
        border-radius: 10px;
        width: 100%;
        justify-content: center;
    }

    .card-item {
        margin-bottom: 10px;
        width: 100%;
        border-radius: 0;
        padding: 15px 0 0;
    }

    .card-item__button-content {
        padding: 15px;
    }

    .card-item__progress-wrapper {
        width: 100%;
        padding: 0 15px;
        margin: 40px auto 0;
    }

    .card-item__water-wrapper {
        background: none;
        margin-top: 40px;
        padding: 0;
    }

    .card-item__water-item {
        padding: 25px 0 0;
        background-image: url(../images/blue-bg.png);
        background-repeat: no-repeat;
        background-position: -5px 130%;
    }

    .training {
        background-color: #FFFFFF;
    }

    .training__description {
        margin-top: 15px;
    }

    .training__multimedia {
        border-radius: 0;
        height: 200px;
    }

    .training__subtitle {
        padding: 0 30px;
        margin-top: 25px;
    }

    .training__title {
        font-size: 16px;
    }

    .training__top-content {
        padding: 0 15px 25px;
    }

    .training__bottom-content {
        padding: 15px;
        border-top: 0;
        box-shadow: 0 -4px 4px rgba(69, 88, 137, 0.06);
        flex-direction: column;
        position: sticky;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        box-sizing: border-box;
    }

    .training__bottom-button:not(:last-child) {
        margin: 0;
    }

    .training__bottom-button {
        border-radius: 10px;
        width: 100%;
        justify-content: center;
        height: 48px;
    }

    .training__main-title {
        font-size: 16px;
    }

    .training__main-title {
        margin-bottom: 0;
    }

    .back-button {
        display: none;
    }

    .modal {
        width: 100%;
        height: 100%;
        border-radius: 0;
        top: 0;
        left: 0;
        transform: translate(0);
        justify-content: center;
        padding: 0 15px 15px;
    }

    .modal__complete-image {
        margin: auto 0 0;
    }

    .modal__button-ready {
        width: 100%;
        border-radius: 10px;
        height: 48px;
    }

    .training__title-time {
        padding-top: 25px;
    }

    .meditation-items-wrapper {
        display: flex;
        margin-top: 20px;
        overflow-x: auto;
    }

    .meditation-header-wrapper {
        padding: 15px 0;
    }

    .meditation-header-wrapper .mobile-header-wrapper {
        padding: 0 15px;
        box-sizing: border-box;
    }

    .meditation-items-wrapper .calendar-task__button {
        width: auto;
        background: rgba(0, 0, 0, 0.12);
        box-shadow: 0 4px 10px rgba(40, 47, 112, 0.08);
        border-radius: 10px;
        padding: 8px 10px;
        white-space: nowrap;
        color: #ffffff;
    }

    .meditation-items-wrapper .calendar-task__button:not(:last-child) {
        margin-right: 10px;
    }

    .meditation__main-title {
        color: #FFFFFF;
    }

    .meditation-items-wrapper .calendar-task__button--active {
        border-bottom: 0;
        padding: 8px 10px;
        background-color: #ED80A4;
    }

    .modal__close-modal {
        display: none;
    }

    .common-circle {
        width: 64px;
        height: 64px;
        background-image: url("../images/med-icon-1.png");
    }

    .common-title {
        margin-top: 12px;
        font-size: 14px;
    }

    .meditation-items {
        padding: 0 15px;
    }

    .mediation-item {
        width: 44%;
        padding: 40px 0 30px;
        box-shadow: 0px 16px 24px rgba(40, 47, 112, 0.06);
        border-radius: 16px;
    }

    .mobile-header-wrapper img {
        display: block;
    }

    .modal__button-not-ready {
        margin-top: auto;
    }

    .meditation__list, .meditation__player-wrapper {
        width: 100%;
        border-radius: 0;
    }

    .meditation__button {
        width: 100%;
        border-radius: 10px;
        height: 48px;
    }

    .meditation__playlist-wrapper {
        flex-wrap: wrap;
    }

    .training .mobile-header-wrapper {
        padding: 15px;
        box-sizing: border-box;
        box-shadow: 0 1px 0 #EBECF3;
    }

    .mobile-sticky {
        position: sticky;
        top: 0;
    }

    .change-training-wrapper {
        top: 50px;
    }

    .change-training-wrapper .modal {
        justify-content: flex-start;
        padding: 0;

    }

    .change-training-wrapper .common-title {
        display: none;
    }

    .bg-mobile-wrapper {
        background-image: url("../images/wave-bg.svg");
        background-repeat: no-repeat;
        width: 100%;
        height: 270px;
        background-size: 100%;
        background-position: bottom;
    }

    .change-training-wrapper .common-circle {
        margin-top: 50px;
    }

    .change-training-wrapper .common-description {
        margin-top: 0;
        padding: 0 15px;
    }
}